<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password manager || SignUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <section>
        <div class="sasa">
            <div class="jumbotron">
                <h1>SignUp</h1>
                <form action="/signup" method="post">
                    <div class="inputbx">
                        <P>Email:</P>
                        <input type="text" placeholder="email" name="email" required>
                    </div>
                    <div class="inputbx">
                        <p>Password:</p>
                        <input type="password" placeholder="password" name="password" required>
                    </div>
                    <div class="inputbx">
                        <button type="submit">SignUp</button>
                        <a href="/" role="button">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>