* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(45deg, rgb(133, 255, 153) 10%, rgb(255, 222, 162) 90%);

}

section {
    width: 100%;
    height: 100vh;
}

.sasa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
}

.sasa .jumbotron {
    position: relative;
    background: rgb(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
    border-top: 2px solid rgb(255, 255, 255, 0.5);
    border-left: 2px solid rgb(255, 255, 255, 0.5);
    transition: all 1s;
}

.sasa .jumbotron:hover{
    transform: translateY(20px);
    border: 1px solid rgb(255,255,255);
    box-shadow: 0 0 transparent;
}

.sasa .jumbotron h1 {
    text-align: center;
}

.sasa .jumbotron .inputbx {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.sasa .jumbotron .inputbx p {
    font-size: 25px;
    font-weight: 500;
    display: inline;
}

.sasa .jumbotron .inputbx input {
    width: 100%;
    padding: 17px 20px;
    margin: 8px 0;
    display: inline;
    color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.sasa .jumbotron .inputbx button{
    position: relative;
    width: 100%;
    padding: 17px 20px;
    font-weight: 500;
    margin: 8px 0;
    display: inline;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    background: #c7ecee;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.sasa .jumbotron .inputbx button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.sasa .jumbotron .inputbx button:hover::after {
    left: 100%;
}


.sasa .jumbotron .inputbx a {
    position: relative;
    width: 100%;
    padding: 17px 20px;
    margin: 8px 0;
    display: block;
    font-weight: 500;
    background: #95afc0;
    border: 1px solid #ccc;
    color: black;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

.sasa .jumbotron .inputbx a::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.sasa .jumbotron .inputbx a:hover::after {
    left: 100%;
}

.sasa .jumbotron .inputbx a:hover::after {
    left: 100%;
}

.sasa .jumbotron h3 {
    text-align: center;
    font-size: 18px;
    color: red;
}

.sasa .jumbotron a {
    display: block;
    text-align: end;
    margin: 20px 0;
}